body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-image: url('sneha11.jpg');
    background-size: cover;
    color: white;
    text-align: left;
    padding: 50px 20px;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-content h2 {
    font-size: 2.5em;
}

.cta-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.about-section, .destinations-section, .packages-section, .footer-section {
    padding: 50px 20px;
    text-align: left;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.stat-item h3 {
    font-size: 2em;
    color: #ff6347;
}

.destination-cards, .package-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card p {
    font-weight: bold;
    margin-top: 10px;
}

.footer-section {
    background-image: url('sneha12.jpg');
    background-color: #333;
    color: white;
    text-align: left;
    background-size: cover;
    color: white;
    text-align: left;
    padding: 50px 20px;
}





